@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
               
* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    width: full;
    margin: 0;
    padding: 0;

    --primary-color: #001538;
    --secundary-color: #cfd2d9;
    --thirty-color: #fdfdfd;
    --collections-color: #645fbc;
 }
 
 html, body {               
     background-color: var(--secundary-color);
     color: var(--collections-color);

     /* scroll-behavior: smooth; */
     /* overflow-y: auto; */
 }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100vw;
    height: 100vh;
}
.header {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 8vh;

    width: 100vw;
    height: 16vh;

    background-color: var(--primary-color);
}
.logo {
    color: var(--thirty-color);

    font-size: 18px;
    text-decoration: none;
}
.main {}
.footer {}